<!-- 
	Copyright 2012 Brendan Gordon
  	
 	This file is part of Jira2Db.
 	
 	Jira2Db is free software: you can redistribute it and/or modify
  	it under the terms of the GNU General Public License as published by
  	the Free Software Foundation, either version 3 of the License, or
  	(at your option) any later version.
  	
  	Jira2Db is distributed in the hope that it will be useful,
  	but WITHOUT ANY WARRANTY; without even the implied warranty of
  	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  	GNU General Public License for more details.
  	
  	You should have received a copy of the GNU General Public License
 	along with Jira2Db.  If not, see <http://www.gnu.org/licenses/>.
-->
 
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers">
	<resultMap id="JiraIssueMap"
		type="com.gordcorp.jira2db.persistence.dto.JiraIssueDto">
		<id property="id" column="id" />
		<result property="assignee" column="assignee" />
		<result property="creationDate" column="creation_date" />
		<result property="description" column="description" />
		<result property="jiraUri" column="jira_uri" />
		<result property="key" column="key" />
		<result property="priority" column="priority" />
		<result property="project" column="project" />
		<result property="reporter" column="reporter" />
		<result property="summary" column="summary" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<select id="getJiraIssueDto" parameterType="long" resultMap="JiraIssueMap">
		select * from t_jira_issue where id = #{id}
	</select>

	<select id="getJiraIssueDtoByKey" parameterType="String"
		resultMap="JiraIssueMap">
		select * from t_jira_issue where key = #{key}
	</select>

	<select id="getAllJiraIssueDto" resultMap="JiraIssueMap">
		select * from
		t_jira_issue
	</select>

	<insert id="createJiraIssueDto" parameterType="com.gordcorp.jira2db.persistence.dto.JiraIssueDto"
		keyProperty="id" useGeneratedKeys="true">
		insert into
		t_jira_issue
		(assignee,creation_date,description,jira_uri,key,priority,project,reporter,summary,update_date)
		values
		(#{assignee},#{creationDate},#{description},#{jiraUri},#{key},#{priority},#{project},#{reporter},#{summary},#{updateDate})
	</insert>
	
	<!-- @formatter:off -->
	<update id="updateJiraIssueDto" parameterType="com.gordcorp.jira2db.persistence.dto.JiraIssueDto">
		update
		t_jira_issue set
			assignee = #{assignee}
			,creation_date = #{creationDate}
			,description = #{description}
			,jira_uri = #{jiraUri}
			,key = #{key}
			,priority =	#{priority}
			,project = #{project}
			,reporter =	#{reporter}
			,summary = #{summary}
			,update_date = #{updateDate}
		where id = #{id}

	</update>
	<!-- @formatter:on -->
	
	<delete id="deleteJiraIssueDto" parameterType="long">
		delete
		t_jira_issue where id = #{id}
	</delete>

	<delete id="deleteJiraIssueDtoByKey" parameterType="String">
		delete from
		t_jira_issue where key like #{value}
	</delete>

</mapper>

